@import "tailwindcss";

@theme {
  --color-amazon-dark: #232F3E;
  --color-amazon-orange: #FF9900;
  --color-amazon-blue: #146eb4;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f3f4f6;
}

.leaflet-container {
  height: 100%;
  width: 100%;
  border-radius: 0.5rem;
  z-index: 0;
}
